<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="../../../assets/images/logo_loading.png">
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./assets/css/animation.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
         href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap"
         rel="stylesheet"
      />
    
    <title>Devplus</title>
</head>
<body >
    
    <div class="main-banner-section">
        <!-- Banner Section Start -->
        <div id="readon" class="main-banner__content" >
            <div class="main-banner__container">
                <div class="main-banner__content-box"  >
                    <h1 class="content-box__title capitalize wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="3000ms" style="color: white; visibility: visible; animation-duration: 3000ms; animation-delay: 300ms; animation-name: fadeInLeft;">Devplus will support the early stage developers go the right career path</h1>
                    <div class="content-box__content wow fadeInRight" data-wow-delay="900ms" data-wow-duration="3000ms">
                        Devplus is not a training center, it's battle campus for you to level up your skillsets and ready to onboard any
                        projects in our “kindest” companies listing</div>
                        <div class="content-box__more-btn wow fadeInUp" data-wow-delay="1500ms" data-wow-duration="2000ms" >
                            <a target="_blank" class="more-btn"  href="https://stunited.typeform.com/registration ">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner Section End -->
        </div>
    </div>
    <!-- About Section Start -->
    <div id="about" class="about-section">
        <div class="about-section__container">
            <div class="about-section__row">
                <div class="row__road">
                    <div class="road__box" >
                        <h2 class="road__title">Road to be a devplus</h3>
                        <ul class="road__list-items">
                            <li class="road__item wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                                <div class="road-item__date"><span>1</span></div>
                                <div class="road-item__desc" > Apply Devplus</div>
                            </li>
                            <li class="road__item wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                                <div class="road-item__date"><span>2</span></div>
                                <div class="road-item__desc">Testing and Interview</div>
                            </li>
                            <li class="road__item wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms" >
                                <div class="road-item__date"><span>3</span></div>
                                <div class="road-item__desc">1st plus (+) campus</div>
                            </li>
                            <li class="road__item wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                                <div class="road-item__date"><span>4</span></div>
                                <div class="road-item__desc">2nd plus (++) campus</div>
                            </li> 
                            <li class="road__item wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                                <div class="road-item__date"><span>5</span></div>
                                <div class="road-item__desc">Onboard & start your career</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row__about-devplus">
                    <div class="about-devplus__box">
                        <div class="about-devplus__content">
                            <div class="about-devplus__title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">About Devplus</div>
                            <h3 class="about-devplus__main-content wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">The Fact: Skilled labour shortage for software companies but full of freshers and low level juniors</h2>
                            <div class="about-devplus__desc wow fadeInUp" data-wow-delay="500ms" data-wow-duration="2000ms" >Our responsibility is filling the gap between the quality of graduate students and the quality of engineers. Devplus will help reducing the cost of re-training and accelerating the skill-up progress of students and freshers.</div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DVBT4BCX5P"></script> -->
    
    <script src="js/wow.min.js"></script>
    <script>
    new WOW().init();
    </script>
</body>

</html>
